* {
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

.clearfix :after {
    display: table;
    height: 0;
    content: '';
    clear: both;
}

.container {
    height: 100%;
}

.main-header {
    padding: 5px 10px;
    display: table;
    width: 100%;
}

.logo {
    display: inline-block;
}

.logo img {
    vertical-align: middle;
    margin-right: 20px;
}

.logo a {
    display: block;
}

.route-name {
    display: inline-block;
    margin-left: 50px;
    color: #dc3131;
    font-size: 18px;
}

.main-content {
    position: relative;
    height: calc(100% - 112px);
}

/* menu */

.menu {
    font-size: 30px;
    text-align: right;
    margin-right: 20px;
    display: none;
}


/* bus-route */

.aside {
    width: 400px;
    float: left;
    padding: 0 10px;
    height: 100%;
    overflow: scroll;
}

.bus-box {
    padding-bottom: 130px;
}

.bus-box li {
    padding: 6px;
    color: #dc3131;
    cursor: pointer;
}


.bus-box li:nth-child(odd) {
    background: #eee;
}

.bus-num {
    display: inline-block;
    padding: 1px;
    width: 40px;
    text-align: center;
    background: #dc3131;
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
}


.bus-num-box {
    width: 65px;
    float: left;
}

.bus-route {
    margin-left: 65px;
}

.bus-box li:hover .bus-route {
    text-decoration: underline;
}

.active {
    color: #000;
}

/* map */

.map {
    margin-left: 400px;

    height: 100%;
}


@media only screen and (max-width: 1023px){

    .logo {
        display: block;
    }

    .route-name {
        display: block;
    }

    .menu {
        display: block;
    }

    .route-name {
        min-height: 23px;
    }

    .aside {
        /*display: none;*/
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;

        background: #fff;
    }

    .map {
        width: 100%;
        margin-left: 0;
    }

    .slide-enter-active, .slide-leave-active {
        transition: all .3s cubic-bezier(.65, .05, .36, 1);
    }
    .slide-enter, .slide-leave-active {
        left: -100%;
    }

}

@media only screen and (max-width : 320px) {
    .aside {
        width: 100%;
    }

    .logo {
        display: none;
    }
}